@use "../variables";

.button {
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;

  &--primary {
    color: variables.$isWhite;
    background-color: variables.$darkGreen;
    border: 2px solid variables.$isBlack;
  }

  @media (max-width: 640px) {
    display: block;
    width: 100%;
  }
}
